
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



.neon-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #7d6000, 0 0 10px #7d6000, 0 0 20px #7d6000, 0 0 40px #7d6000, 0 0 80px #7d6000;
    }
    100% {
        text-shadow: 0 0 10px #F4BC00, 0 0 20px #F4BC00, 0 0 40px #F4BC00, 0 0 80px #F4BC00, 0 0 160px #F4BC00;
    }
}
@keyframes glowObject {
    0% {
        box-shadow: 0 0 1px #b6ac00, 0 0 2px #b6ac00, 0 0 4px #b6ac00, 0 0 8px #b6ac00, 0 0 16px #b6ac00;
    }
    100% {
        box-shadow: 0 0 2px #F4BC00, 0 0 4px #F4BC00, 0 0 8px #F4BC00, 0 0 16px #F4BC00, 0 0 32px #F4BC00;
    }
}
@keyframes glowBorder {
    0% {
        box-shadow: 0 0 0.4px #F4BC00, 0 0 0.8px #F4BC00, 0 0 1.6px #F4BC00, 0 0 3.2px #F4BC00, 0 0 6.4px #F4BC00;
    }
    100% {
        box-shadow: 0 0 0.4px #F4BC00, 0 0 0.8px #F4BC00, 0 0 1.6px #F4BC00, 0 0 3.2px #F4BC00, 0 0 6.4px #F4BC00;
    }
}

a, a:visited, a:active, a:hover {
    color: inherit;
    text-decoration: none;
  }
  

.roboto-uniquifier {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 
 /* header */

header {
    
    /*
     FIRST LINE IS BORDERS
    */
    margin-top: 1.5%;
    border: #F4BC00 1px solid;
    animation: glowObject 1s infinite alternate;
    overflow: scroll;
    color: #fff;
    padding: 0.85rem;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #1b1b1b;
    color: #fff;
    border-radius: 30px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
    margin-bottom: 2%;
}
.textNav {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-left: auto; 
    font-family: 'Roboto';
    color: #fff;
}
.textNav nav {
    color: #F4BC00;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    
}
nav ul li {
    justify-content: space-between;
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    
}
nav ul li:hover {
    color: #ffffff;
    transition: 0.3s;
    text-shadow: rgb(28, 28, 28) 0px 0px 9px ;
    transform: scale(1.3);
    animation: glow 5s infinite alternate;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    
    
}

#tinylogo {
    margin-left: 1rem;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: 0px 3.5px 5px black;
    color: #fff;
    object-fit: fill;   
}
#tinylogo:hover {
    animation: rotating 5s linear infinite;
    scale: 1.1;
    transition: 0.5s;
    
}
#textLogo {
    margin-left: 1rem;
    font-size: 25px;
    text-shadow: 0px 3.5px 5px black;
    text-decoration: none;
    
    color: #fff;

}

#shopImg {
    margin-left: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 3.5px 5px black;
    object-fit: scale-down;
    background-size: cover;
}
#shopImg:hover {
    background-color: #685000;
    transition: 1s;
}

#buyButton {
        background-color: #343434; /* Green */
        border: none;
        color: #F4BC00;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 10px;
        box-shadow: 0px 3.5px 5px black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', bold;
}
#buyButton:hover {
    color: rgb(255, 255, 255);
    background-color: #ba8f00; /* Green */
    transition: 0.5s;
}


/* body */

body {
    /*
     FIRST LINE IS BORDERS
    */
    
    margin: 0;
    background-color: #171717;
}

main {
    overflow: hidden;
    padding: 5%;
    /*
     FIRST LINE IS BORDERS
    */
    
    display: flex;
    align-items: center;
    background-color: #171717;
    color: white;

}
.Desc {
    justify-content: left;
    padding-bottom: 5%;
   
}
.Desc #greeting {
    font-size: 24px;
    font-family: Roboto;
    color: rgb(209, 209, 209);
    letter-spacing: 5px;    
}
.Desc h1 {
    font-size: 50px;
    font-family: Roboto;
    text-shadow: 0px 3.5px 5px black;
}
.Desc h2 {
    font-size: 40px;
    font-family: Roboto;
    text-shadow: 0px 3.5px 5px black;
}
.Desc #descriptionText {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(209, 209, 209);
    text-shadow: 0px 3.5px 5px black;
}





.main h3 {
    display: flex;
    justify-content: left;
    align-items: left;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-size: 16px;
    color: #b0b0b0;
    margin-top: 20px;

}

@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#profilePic {
    width: 32%;
    height: 32%;
    object-fit: cover;
    object-position: right;
    margin-left: 20%;
    transition: transform 0.5s;
    scale: 1.35;
}

.card{
    padding-left: 3.5%;
    display: grid;
    grid-template-columns: 30rem 30rem 30rem;
    margin-top: 10px;
}
.flex-container {
    display: grid 2;
    grid-template-columns: 20px 20px;
    background-color: #171717;
    padding: 20px;
    box-shadow: 2px 2px 8px black;
    width: 20rem;
    height: 10rem;
    margin-top: 1%;
    margin-left: 5%;
    border-radius: 10px;
    animation: glowObject 1s infinite alternate;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    text-shadow: 0px 2px 2px black;
    margin-bottom: 25%;
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 14px;
    }
    
}


#githublogo {
    justify-content: space-between;
    gap: 100px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: bottom;
    scale: 1.35;
    background-color: #b6ac00;
    border-radius: 50%;
    margin-right: 5%;
 
}
#githublogo:hover {
    transition: transform 0.5s;
    transform : scale(1.2);
    background-color: #fff;
}

.socialCard {
    display: grid;
    box-shadow: #171717 2px 2px 8px;
    border: #171717 1px solid;
    grid-template-columns: 26% 40%;
    justify-content: left;
    align-items: left;
    margin-top: 7%;
}

.socials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

}
#socialText{
    font-size: 30px;
    font-family: Roboto;
    
}





